<form action="/users/create-session" method = "POST">
    <input type="text" placeholder = "enter email id here" name = "email" required>
    <input type="password" placeholder = "enter password here" name = "password" required>
    <button type = "submit">
        login
    </button>
</form>
